@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet');

/* color */
/* background */
$main-color: #FFFEFA;
/* box, card */
$sec-color: #BBDADB;
/* highlight, button */
$aux-color: #DDB328;
/* paragraphs */
$p-color: #333333;
/* headings */
$heading-color: #2D3C41;

/* fonts */
$main-font: "Roboto", sans-serif;
$sec-font: "Open Sans", sans-serif;
$spacing: 3px;

/* width */
$max-width: 1170px;
$fixed-width: 700px;

/* height */
$nav-height: 60px;
$main-height: calc(100vh - 60px);

$radius: 5px;